body{
 display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .wrapper{
 	padding-left: 300px!important;
 } 
   
.gradiente{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e85d3e+0,96284f+100 */
background: #e85d3e; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e85d3e 0%, #96284f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e85d3e 0%,#96284f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e85d3e 0%,#96284f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85d3e', endColorstr='#96284f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collection-item{
	font-size: 0.9em;
	line-height: 1em;
}
.collection-item h6{
		font-size: 0.95em
	}
.small-print{
	font-size: 0.85em;
	line-height: 0.95em;
	padding: 0;
	border: 0;
	margin: 0;
}
.smaller-print{
	font-size: 0.75em;
	line-height: 0.95em;
	padding: 0;
	border: 0;
	margin: 0;
}